DATALOADER:
  TRAIN_X:
    BATCH_SIZE: 32
  TEST:
    BATCH_SIZE: 100
  NUM_WORKERS: 8

INPUT:
  SIZE: (224, 224)
  INTERPOLATION: "bicubic"
  PIXEL_MEAN: [0.48145466, 0.4578275, 0.40821073]
  PIXEL_STD: [0.26862954, 0.26130258, 0.27577711]
  TRANSFORMS: ["random_resized_crop", "random_flip", "normalize"]

OPTIM:
  NAME: "sgd"
  LR: 0.001
  MAX_EPOCH: 1
  ROUND: 1

MODEL:
  BACKBONE:
    NAME: "ViT-B/16"
    PRETRAINED: True

DATASET:
  SUBSAMPLE_CLASSES: "base"  # all, base or new
  USERS: 10
  IID: False
  FRAC: 1.0
  PARTITION: "noniid-labeldir"
  USEALL: False  # use all data instead of few-shot
  NUM_SHOTS: 16
  BETA: 0.3

TRAINER:
  CLIP:
    PREC: "fp16"  # fp16, fp32, amp
